@media (max-width: 768px) {
    :root {
        --grid-columns: 4;
        --square-size: calc(100vw / var(--grid-columns));
    }
}

@keyframes fluid-drift {
    0% {
        background-position: 0% 50%;
        transform: scale(1) rotate(0deg);
    }

    50% {
        background-position: 100% 50%;
        transform: scale(1.1) rotate(4deg);
    }

    100% {
        background-position: 50% 100%;
        transform: scale(0.95) rotate(-2deg);
    }
}

@keyframes marquee-to-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-to-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes scroll-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }
}